<!--&lt;!&ndash;<div fxLayout="column" fxLayoutAlign="center center" fxflex="60" class="bg-image overlay">&ndash;&gt;-->
<!--<div fxLayout="column" fxLayoutAlign="center center" fxflex="60">-->
  <!--<div class="border font-f-home w-60" fxLayoutAlign="center center">-->
    <!--<h3 class="m-1"> Make great thing</h3>-->
  <!--</div>-->
  <!--<br>-->
  <!--<div fxLayout="column" fxLayoutAlign="space-between center" class="border font-f-home w-60 h-30">-->
    <!--<div fxLayout="row" fxLayoutAlign="center center" fxflex="80">-->
      <!--<p class="m-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cum, dolorum eum expedita ipsum-->
        <!--itaque, labore-->
        <!--molestiae nam, provident quasi sint tenetur voluptas voluptatem? Ad adipisci omnis rerum suscipit-->
        <!--voluptatum.</p>-->
    <!--</div>-->
    <!--<div fxLayout="row" fxLayoutAlign="space-evenly center" class="m-1 w-60 font-f-home">-->
      <!--<button mat-stroked-button class="border">Lorem</button>-->
      <!--<button mat-stroked-button class="border">Ipsum</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis et mollitia necessitatibus officiis? Aliquam aut consequuntur, illum odio placeat quasi quo reprehenderit sit suscipit! Amet consequatur natus odio pariatur quibusdam.
